<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_page.css') }}">
    <title>Update Stats</title>
</head>

<body>
    <header>
        <nav class="topNav">
            <a href="/users/logout">Logout</a>
            <a href="/users/home" class="dashboard-link">Home Page</a>
        </nav>
    </header>

    <main>
        <section class="validation-messages">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div id="popup">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                <button onclick="popup.remove()">Okay</button>
            </div>
            {% endif %}
            {% endwith %}
        </section>

        <section class="edit-form">
            <form action="/character/edit/{{ character.id }}" method="post">
                
                <!-- maybe add a line for the character name? -->
                <h1> {{ character.name }} </h1>                  

                <!-- <input type="text" name="destination" value=" {{ character.destination }}">  -->

                <input type="hidden" name="user_id" value="{{ session.user_id }}">
                

                <div class="form-group">
                    <label for="name">Name: {{ character.name }} </label>
                    <input type="text" id="name" name="name" value = "{{character.name}}">
                </div>


                <div class="form-group">
                    <label for="character_level">Level: {{ character.character_level }} </label>
                    <input type="number" id="character_level" name="character_level" value = "{{character.character_level}}">
                </div>


                <div class="form-group">
                    <label for="race">Race: {{ character.race }} </label>
                    <input type="text" id="race" name="race" value = "{{character.race}}">
                </div>

                <div class="form-group">
                    <label for="hp">HP: {{ character.hp }} </label>
                    <input type="number" id="hp" name="hp" value = "{{character.hp}}">
                </div>


                <div class="form-group">
                    <label for="current_hp">Current Health: {{ character.current_hp }} </label>
                    <input type="number" id="current_hp" name="current_hp" value = "{{character.current_hp}}">
                </div>

                
                

                <div class="form-group">
                    <label for="speciality">Class: {{ character.speciality }}</label>
                    <input type="text" id="speciality" name="speciality" value = "{{character.speciality}}">
                </div>

                
                

                <div class="actions">
                    <a href="/users/home"><button type="button" class="cancel-button">Cancel</button></a>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </section>
    </main>

    <footer>
        <div class="footer">
            <a href="/users/home">Back to Character Selection</a>
        </div>
    </footer>
</body>

</html>
