body {
    font-family: Arial, sans-serif;
    background-color: #9D9DE9;
    margin: 0;
    padding: 0;
  }

  .topNav {
    background-color: #C4491C;
    color: white;
    padding: 20px;
    text-align: center;
  }

  .topNav nav a {
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #2424C6;
    margin: 0 10px;
  }

  .topNav nav a:hover {
    background-color: #0290d8;
  }

  .middleNav {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="number"],
  input[type="submit"],
  .cancel-button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .cancel-button {
    background-color: #f44336;
    color: white;
    text-align: center;
    display: inline-block;
    border: none;
    cursor: pointer;
  }

  .cancel-button:hover {
    background-color: #d32f2f;
  }
