body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: purple;
}

.topNav {
  background-color: #559E54;
  color: white;
  padding: 10px 20px;
  text-align: right;
}

.topNav nav a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

.topNav nav a:hover {
  text-decoration: underline;
}

.treeDetails {
  padding: 20px;
  text-align: center;
}

.treeInfo h2,
.treeDetails h1 {
  color: #43f20d;
}

.treeAttributes {
  margin-top: 20px;
  display: inline-block;
  text-align: left;
}

.treeAttributes p {
  background-color: #9ee99d;
  color: #9a0794;
  /* border-left: 5px solid #3498db; */
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}

footer {
  background-color: #559E54;
  color: #FBA90A;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}



/* creating tabs styling, mimicking w3 for quick baseline on project*/
.tab{
  overflow:hidden;
  border: 1px solid #ccc;
  background-color: #FBA90A;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: lightseagreen;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #2b0929;
}


